<div class="page-header">
  <img src="/alims.jpeg" alt="Alims logo" class="header-logo" />
  <h2>ALIMS - Letters for healthcare workers</h2>
</div>

<div *ngIf="displayedLetters.length === 0">
  <em>No letters available.</em>
</div>

<div class="letters-container">
  <div *ngFor="let letter of displayedLetters" class="letter-card">
    <h3>{{ letter.title }}</h3>
    <p class="letter-date">{{ letter.date | date: 'medium' }}</p>
    <p>{{ letter.description }}</p>
    <p><strong>Medications:</strong> {{ letter.medicationNames.join(', ') }}</p>
    <p><strong>Admin:</strong> {{ letter.adminName }}</p>
    

    <div class="letter-footer">
      <button class="btn-read" (click)="openPdf(letter)">View Letter</button>
    </div>
  </div>
</div>

<div class="pagination-controls" *ngIf="totalPages > 1">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} / {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>

<footer>
  <p>&copy; 2025 Matija Veljković-Šupić & David Bošković</p>
</footer>


<!-- HTML fajl za prikaz liste pisama sa paginacijom i mogućnošću otvaranja PDF pisama u novom tabu -->
